*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
font-family: "Roboto", sans-serif;;
}
/* nav */
.navbar-brand span{
    color: red;
}
.btn a{
    color: aliceblue;
}
/* banar */
.text{
    /* align-items: center;
    justify-content: center;
    display: flex; */
    margin-top: 150px;
}

.banar h1{
      font-family: "Amatic SC", sans-serif;
      font-size: 70px;
}
.banar img{
    width: 80%;
}
.unic a{
    color: black;
}
/* atical */
.artical h3{
      font-family: "Amatic SC", sans-serif;
      font-size: 45px;
      margin-bottom: 40px;
}
.artical img{
    width: 98%;

}
.artical .iteam p i{
    font-size: 50px;
}
